@import "../../app.scss";

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 100px;
      z-index: 1;
      color: white;

    @include mobile {
      font-size: 72px;
      text-align: center;
    }
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .planets {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

.stars {
  position: absolute;
  width: 150%;
  height: 100%;
  background-image: url('/stars.png'); // Replace with your actual image path
  background-repeat: repeat-x; // Makes the image repeat horizontally
  background-size: cover; // Ensures the background fits properly
  background-position: top center; // Adjusts the vertical positioning of the stars
}
}